
.icon-bat1:before { content: '\e800'; } /* '' */
.icon-bat2:before { content: '\e801'; } /* '' */
.icon-bat3:before { content: '\e802'; } /* '' */
.icon-bat4:before { content: '\e803'; } /* '' */