@import "variable";
@import "mixin";

*{
    box-sizing: border-box;
    @include reset;
}



body{
    background-color: $bgcolor;
    color: $color;    
    min-height: 100vh;    
    font-family: 'Passion One', cursive;  
    overflow-x: hidden;  
    max-width: 100vw !important; 
}

a{
    color:white;
    text-decoration: none;
}

img
{
    border: 5px solid blue;
    border-radius: 40%;
    height: 300px;
    width: 240px;
    margin: 2vh;
    
}
@import "topside";


 


article{
    min-height:150vh;
    width: 80%;
    margin: auto;
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    section{
        //flex-basis: 100vh;
        font-family: 'Indie Flower', cursive;
        border-top: 1vh blue dashed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        opacity: 0;
        transition: 0.8s ease;
        
        &.active{
            opacity: 1;
        }
        &:first-of-type{
            border-top: 0 blue dashed;
            opacity: 1;
        }
        div.section-logo{
            padding: 8vh;
            font-size: 15vh;    
            
            i{
                animation:blinkLogo  10s infinite ease;    
            } 
            
        }
        div.section-content{
            padding: 10vh;
            font-size: 4vh;
            text-align: justify;
            padding-bottom: 30vh;
            ul{
                list-style-type: square type q;
                
            }
        }
            
        
    }
}



footer{
    background-color: black;     
    display: flex;
    justify-content: center;
    min-height: 25vh;
    overflow: hidden;
    border-top: 2px solid blue;
    div.leftfoot{
        border-right: 0.7vh white dashed;
        flex-basis: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding:8vh;
       
            i{
            font-size: 12vh;            
            color:white;
            }

        
    }
    div.rightfoot{
        font-size: 8vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Ubuntu', sans-serif;
        padding-bottom: 6vh;
        div.social{
            display: none;
        }
        
    }
}

div.arrow{
    position: fixed;
    font-size: 10vh;
    right: 1vh;
    bottom: 40vh;    
    cursor: pointer;
    display: none;
    opacity: 0.5;    
    a{
        
        color: yellow;
    }
    
}

@media only screen and (max-width:1000px )
{
    body{
        overflow-x: hidden;
    }
    div.main div.left{
        font-size: 6vh;
    }
    div.main div.right div.rightlogo{
        font-size: 5vh;
    } 
    nav.main{
        justify-content: center;
        div.block{
            font-size: 3vh;
            flex-grow: 2;
        }
    

    } 
    div.main div.right div.rightlogo:first-of-type {
        margin-right: 2vh;
        font-size: 12vh;
    }
    nav.main {              
        
        div.social .net{
        font-size: 3vh;
        }
    }

    footer{
        

       div.leftfoot{
        padding: 7vh;
        i{
          font-size:10vh;

        }
       }
    }

    div.arrow{
        font-size: 8vh;
    }
}

@media only screen and (max-width:780px) {
    body{
        overflow-x: hidden;
    }
    header{
    div.main{
        height: 80vh;
        padding: 20vh;
        div.left{
            align-items: flex-end;
        }
        div.right{
            display: none;         
        }
    }
     
    
    nav.main{    
        position: fixed;
        left: 0;
        top: 0;
        flex-basis: 20%;
        a.block{
            font-size: 4vh;
        }
        div.social{
            
           display: none;
        }

    }
   }
    article{
        width: 100vw;
    }

    footer{
       flex-direction: column;
        div.leftfoot{
            justify-content: center;
            border-right: 0;
            padding: 12vh;
            i{
                font-size: 12vh;
            }            
        }
        div.rightfoot{
            font-size: 3vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            div.social{
                @include socialFooter;
                div.net{
                    padding: 3vh;
                    &:hover
                    {
                        font-size: 7vh;
                    }
                }
            }
        }
    }

    div.arrow{
        right: 0;
        i{
            color: white;
        }
    }

}

@media only screen and (orientation:portrait){
    body{
        overflow-x: hidden;
    }
    header{
    div.main{
        height:80vh;
        padding: 10vh;
        div.left{
            align-items: flex-end;
            font-size: 5vh;
            
        }
        div.right{
            display: none;
           
            
        }
    }
     
    
    nav.main{    
        position: fixed;
        left: 0;
        top: 0;
        opacity: 1;
        
        a.block{
            font-size: 1.5vh;
            flex-basis: 20%;
        }
        div.social{
            
            display: none;
        }

    }
   }
    article{

        section{
            div.section-logo{
                font-size: 10vh;
            }
            div.section-content{
                padding: 6vh;
                font-size: 3vh;
            }
        }
    }

    footer{
       flex-direction: column;
        div.leftfoot{
            justify-content: center;
            border-right: 0;
            padding: 10vh;
            i{
                font-size: 10vh;
            }            

        }
        div.rightfoot{
            font-size: 3vh;
            padding-bottom: 8vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            div.social{
                @include socialFooter;
                div.net{
                    padding: 3vh;
                    &:hover
                    {
                        font-size: 7vh;
                    }
                }
            }
        }
    }

    div.arrow{
        right: 0;
        i{
            color: white;
        }
    }

}

@keyframes blinkDot{
    0%{
        opacity:0.2;
    }
    15%{
        opacity:0.6;
    }
    30%{
        opacity:1;
    }
    45%{
        opacity:0;
    }
    60%{
        opacity: 0.7;;
    }
    80%{
        opacity: 0;
    }
    92%{
        opacity: 1;

    }
}

@keyframes disapper{
    100%{
        opacity: 1 ;
    }
}



@keyframes blinkLogo{
    20%{
        color: yellow;
    }
    25%{
        color: white;
    }
    45%{
        color: yellow;
    }
    50%{
        color: white;
    }
    70%{
        color: yellow;
    }
    75%{
        color: white;
    }
    95%{
        color: yellow;
    }
}
