@import "variable";
@import "mixin";

*{
    box-sizing: border-box;
    @include reset;
}

html{
    //scroll-behavior: smooth;
}

body{
    background-color: $bgcolor;
    color: $color;    
    min-height: 100vh;    
    font-family: 'Passion One', cursive;  
    overflow-x: hidden;  
    
    
}

div.tmp{
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    background-color:royalblue;
    z-index: 5;    
    animation: apperPage .2s 8.2s linear both;
    div.label{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        animation: blinkLabel 2s infinite linear both;
        @include html;
    }
    
    div.bar{
        background-color: white;
        width: 60vw;
        height: 0.3vh;
        position: absolute;
        top:70%;
        left:50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        &::before{
            content: "";
            width: 100%;
            height: 100%;
            background-color: blue;
            position: absolute;
            left: 100%;
            top: 0;
            animation: barMove 8s linear both;
        }
    }
}

a{
    color:white;
    text-decoration: none;
}

img
{
    border: 5px solid blue;
    border-radius: 40%;
    height: 300px;
    width: 240px;
    margin: 2vh;
    
}


@import "topside";


 


article{
    min-height:150vh;
    width: 80%;
    margin: auto;
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    section{
        //flex-basis: 100vh;
        font-family: 'Montserrat', sans-serif;
        border-top: 1vh blue dashed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        opacity: 0;
        
        transition: 0.8s ease;    
        
        &.active{
            opacity: 1;
        }
        &:first-of-type{
            border-top: 0 blue dashed;
            opacity: 1;
        }
        &.work{
            div.section-content{
                div{
                    margin-bottom: 2vh;
                    
                    &:hover i.icon-left-open{
                       animation: showAfter 3s infinite both;
                    }
                    i{
                        font-size: 10vh;
                        &.icon-left-open{
                            color: yellow;
                            font-size: 4vh;
                            opacity: 0;
                            padding: 0.3vh;
                        }
                    }
                }
                
            }

        }
        div.section-logo{
            padding: 8vh;
            font-size: 15vh;    
            align-self: center;
            i{
                animation:blinkLogo  10s infinite ease;    
            } 
            
        }
        div.section-content{
            padding: 10vh;
            font-size: 4vh;
            padding-bottom: 30vh;      
            text-align: justify;
               
            ul.skill{                
                list-style-image: url('/img/angle-double-right-solid.svg'); 
                li{
                    padding: 2vh;
                    i.icon-left-open{
                        color: yellow;
                        opacity: 0;
                    }
                    &:hover i.icon-left-open{
                        animation: showAfter 3s infinite both;
                    }
                }
                
                
            }
        }
            
        
    }
}



footer{
    background-color: black;     
    display: flex;
    justify-content: center;
    min-height: 25vh;
    overflow: hidden;
    border-top: 2px solid blue;
    div.leftfoot{
        border-right: 0.7vh white dashed;
        flex-basis: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding:8vh;
       
            i{
            font-size: 12vh;            
            color:white;
            }

        
    }
    div.rightfoot{
        font-size: 4vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Ubuntu', sans-serif;
        padding-bottom: 6vh;
        div.social{
            display: none;
        }
        
    }
}

div.arrow{
    position: fixed;
    font-size: 10vh;
    right: 1vh;
    bottom: 40vh;    
    cursor: pointer;
    display: none;
    opacity: 0.5;    
    a{
        
        color: yellow;
    }
    
}

@media only screen and (max-width:1000px )
{
    body{
        overflow-x: hidden;
    }
    div.main div.left{
        font-size: 6vh;
    }
    div.main div.right div.rightlogo{
        font-size: 5vh;
    } 
    nav.main{
        justify-content: center;
        div.block{
            font-size: 3vh;
            flex-grow: 2;
        }
    

    } 
    div.main div.right div.rightlogo:first-of-type {
        margin-right: 2vh;
        font-size: 12vh;
    }
    nav.main {              
        
        div.social .net{
        font-size: 3vh;
        }
    }

    footer{
        

       div.leftfoot{
        padding: 7vh;
        i{
          font-size:10vh;

        }
       }
    }

    div.arrow{
        font-size: 8vh;
    }
}

@media only screen and (max-width:780px) {
    body{
        overflow-x: hidden;
    }
    header{
    div.main{
        height: 80vh;
        padding: 20vh;
        div.left{
            align-items: flex-end;
        }
        div.right{
            display: none;         
        }
    }
     
    
    nav.main{    
        position: fixed;
        left: 0;
        top: 0;
        flex-basis: 20%;
        a.block{
            font-size: 4vh;
        }
        div.social{
            
           display: none;
        }

    }
   }
    article{
        width: 100vw;
    }

    footer{
       flex-direction: column;
        div.leftfoot{
            justify-content: center;
            border-right: 0;
            padding: 12vh;
            i{
                font-size: 12vh;
            }            
        }
        div.rightfoot{
            font-size: 3vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            div.social{
                @include socialFooter;
                div.net{
                    padding: 3vh;
                    &:hover
                    {
                        font-size: 7vh;
                    }
                }
            }
        }
    }

    div.arrow{
        right: 0;
        i{
            color: white;
        }
    }

}

@media only screen and (orientation:portrait){

    div.tmp{
        div.label{

            font-size: 3vh;
        }
    }

    body{
        overflow-x: hidden;
    }
    header{
    div.main{
        height:80vh;
        padding: 10vh;
        div.left{
            align-items: flex-end;
            font-size: 5vh;
            
        }
        div.right{
            display: none;
           
            
        }
    }
     
    
    nav.main{    
        position: fixed;
        left: 0;
        top: 0;
        opacity: 1;
        
        a.block{
            font-size: 1.5vh;
            flex-basis: 20%;
        }
        div.social{
            
            display: none;
        }

    }
   }
    article{

        section{
            div.section-logo{
                font-size: 10vh;
            }
            div.section-content{
                padding: 6vh;
                font-size: 3vh;
            }
            &.work{
                div.section-content{
                    ul.skill{
                        li{
                            font-size: 2.5vh;
                            padding: 0.6vh;
                        }
                    }
                    div{
                        i{
                            font-size: 5vh;
                        }
                        i.icon-left-open{
                            font-size: 2vh;
                        }
                    }
                }
            }
        }
    }

    footer{
       flex-direction: column;
        div.leftfoot{
            justify-content: center;
            border-right: 0;
            padding: 10vh;
            i{
                font-size: 10vh;
            }            

        }
        div.rightfoot{
            font-size: 3vh;
            padding-bottom: 8vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            div.social{
                @include socialFooter;
                div.net{
                    padding: 3vh;
                    &:hover
                    {
                        font-size: 7vh;
                    }
                }
            }
        }
    }

    div.arrow{
        right: 0;
        i{
            color: white;
        }
    }

}

@keyframes blinkDot{
    0%{
        opacity:0.2;
    }
    15%{
        opacity:0.6;
    }
    30%{
        opacity:1;
    }
    45%{
        opacity:0;
    }
    60%{
        opacity: 0.7;;
    }
    80%{
        opacity: 0;
    }
    92%{
        opacity: 1;

    }
}

@keyframes disapper{
    100%{
        opacity: 1 ;
    }
}



@keyframes blinkLogo{
    20%{
        color: yellow;
    }
    25%{
        color: white;
    }
    45%{
        color: yellow;
    }
    50%{
        color: white;
    }
    70%{
        color: yellow;
    }
    75%{
        color: white;
    }
    95%{
        color: yellow;
    }
}

@keyframes showAfter{
    0%{
        opacity: 1;
        padding: .2em;
    }
    15%{
        padding: 0;
    }
    30%{
        padding: .2em;
    }
    45%{
        padding: 0;
    }
    60%{
        padding: .2em;
    }
    75%{
        padding: 0;
    }
    90%{
        padding: .2em;
    }
    100%{
        opacity: 1;
    }
}

@keyframes barMove{
    0%{
        left: 0;
    }
    5%{
        left: 7%;
    }
    20%{
        left:25%;
    }
    40%{
        left:32%;
    }
    55%{
        left:60%
    }
    70%{
        left:85%;
    }
    85%{
        left: 100%;
    }
   
}

@keyframes apperPage{
      
    100%{
        z-index: -3;
        background-color: transparent;
    }
}

@keyframes blinkLabel{
    0%{
        opacity: 0.7;
    }
    15%{
        opacity: 0.6;        
    }
    25%{
        opacity: 0.8;
    }
    40%{
        opacity: 0.2;
    }
    65%{
        opacity: 0.7;
    }
    85%{
        opacity: 0.2;
    }
    100%{
        opacity: 0.6;
    }
}